.hero{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    margin: 0 auto;
    z-index: 300;    
}


.hidden{
    display:none;
}
/* classes for modal */

.overlay {
    position: absolute; /* absolute position on the screen */
    top: 0;
    left: 0;
    width: 100%; /* will set the overlay on the whole webpage */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5; /*in front of webpage but behind modal */
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;  
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}
  