:root{
    --dark: rgb(0,0,0);

    --primary: rgb(102, 95, 95);
    --secondary: rgba(78, 107, 74, 0.87);
    --tertiary: rgba(158, 197, 143, 0.9);
    --complimentary: rgba(214, 68, 31, 0.7);

}

*{    
    color: var(--dark);
}


body {
    background-color: var(--primary);
}

header{
    background-color: var(--secondary);
    height: auto;  
    width: 100%;  


}

.hero{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    margin: 0 auto;
}

#input-field{
    position: absolute;
    top: 160px;
    width: 33%;
    display: flex;
    flex: 0 0 100%;
    flex-flow: row wrap;
    justify-content: center;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
=======
}

#searchPrompt {
    text-align: center;
    flex: 0 0 100%;
}

#searchBar {
    border: 1px solid var(--dark);
    background-color: var(--tertiary);
    flex: 0 0 50%;
}

#submitButton {

    height: 47px;
    text-align: center;
    padding: 1%;
}
#submitButton:hover {
    background-color: var(--secondary);
    color: var(--tertiary);

}

i{
    font-size: 120%;
    padding: 1rem;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.8rem;
    font-weight: bold;
}

li{
    list-style-type: none;
}

#searchPrompt {
    text-align: center;
    flex: 0 0 100%;
}

#searchBar {
    border: 1px solid var(--dark);
    flex: 0 0 50%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

#submitButton {
    height: 40px;
    width: 70px;
    text-align: start;
    font-weight: bold;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.hidden{
    display:none;
}

/* #park-list{    
    position: absolute;
    bottom: 50px;
} */

.custom-card{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.custom-button{
    background: var(--complimentary);
    font-weight: bold;
}

.custom-button:hover {
    background-color: var(--secondary);
}


