:root{
    --ClearText: whitesmoke;
    --DBlue: #2b77be;
    --Dark: #3184FF;
    --CBlue: cadetblue;
}
*{
  font-family: Times New Roman, Times, serif;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.display {
    justify-content: center;
    font-size: 60px;
    text-align: center;
    background: var(--Dark);
    color: var(--ClearText);
}
/*Searsh City Line*/
#row1 {
    color: black;
    font-size: 40px;
}
.form-inline {
    padding-left: 1%;
    padding-bottom: 1%;
}
#lastSearch {
    padding-left: 30px;  
    padding-bottom: 5px;
}
#weatherCard {
    padding-top: 2%;
    justify-content: flex-start;
    padding-bottom: 2%;
}
#row5day {
    padding-left: 2%;
    text-align: start;
}
#rowCards {
    justify-content: flex-start;
    font-size: 12px;
}
#cardDisplay {
    display: center;
}
#buttonsList {
    display: center;
}
.h5 {
    font-size: 18px;
}
/*daily information*/
.container-fluid {
    text-align: start;
    font-size: 20px;  
}
 .col-sm-1 {
    background-color: var(--Dark);
} 
/*Foot of page - personal menssage */
.footer {
    text-align: center;
    clear: both;
    text-align: center;
    font-size: 15px;
}
.footer h2 {
    font-size: 20px;
}
